/bitrix/cache/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/backup/*
bitrix/catalog_export
/.idea/*
*.log
*.access.php
*.bak
*.txt
*.csv
*.jpg
*.png
*.gif
*.jpeg
*.zip
*.rar
*.doc
*.docx
/gitpull/*
/upload/*
/log.txt
upload
public_html
test.php

