
.bx_order_make {
    position: relative;

}

.order_summary {
    font-size: 20px;
    color: #37363a;
    margin-bottom: 20px;
    padding-bottom: 20px;

    text-align: right;
    border-bottom: 1px solid #d0d0d0;
}

.order_summary span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #37363a;
    text-align: left;
    padding-left: 20px;
    width: 180px;

}

.order_section_left {
    width: 800px;
    float: left;
    padding-right: 150px;
    position: relative;
}

.order_section_left .section_errors {
    width: 155px;
    padding: 10px;
    background: #fff;
    position: absolute;
    right: 0px;
    top: 33px;
    font-size: 11px;
    color: #F00;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    behavior: url(/local/templates/lampart_new/css/PIE.htc);

}

.order_section_left .section_errors .error_div {
    margin-bottom: 5px;
    font-size: 11px;
    color: #F00;
}

.errortext {
    font-size: 12px;
    color: #f41a1a;
    padding-left: 540px;
}

.order_prop {
    /*float:left;*/
    /*width:370px;*/
    /*margin-right:20px;*/

}

.order_prop_textarea {
    float: left;
    width: 760px;
    margin-right: 20px;

}

.order_prop_name {
    float: left;
    width: 360px;
    text-align: left;
    margin-bottom: 6px;
    font-size: 14px;
    color: #37363a;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 10px;


}

.order_prop_name_min {
    float: left;
    width: 120px;
    text-align: right;
    margin-bottom: 6px;
    font-size: 14px;
    color: #37363a;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 10px

}

.order_padding_left_100 {
    padding-left: 130px;
}

.order_forgot {
    padding-top: 10px;
}

.order_forgot a {
    color: #000;
}

.order_auth_button {
    width: 300px;
    margin-top: 10px;
}

.order_prop_name span.bx_sof_req, .order_prop_name_min span.bx_sof_req {
    color: #F00;
    font-size: 12px;
}

.order_prop_value {
    /*float:left;*/
    /*width:370px;*/
    text-align: left;
    margin-bottom: 6px;
    font-size: 14px;
    color: #37363a;
    position: relative;

}

.order_prop_textarea .order_prop_value {
    width: 100%;
}

.order_prop_value_error_text {
    position: absolute;
    top: 10px;
    left: 320px;
    width: 230px;

    padding: 5px 10px;
    color: #f41a1a;
    font-size: 12px;

}

.order_prop_textarea .order_prop_value textarea {
    width: 750px;
}

.order_prop_value input[type="text"].error_prop, .order_prop_value select.error_prop, .order_prop_value textarea.error_prop {
    border: 1px solid #f41a1a;
}

.order_prop_value select {
    width: 321px;
    height: 42px;
}

.order_prop_value textarea {
    height: 111px;
}

.pay_delivery {
    padding: 30px 0px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.pay_delivery .pay {
    width: 481px;
    float: left;

}

.pay_delivery .delivery {
    width: 644px;
    float: left;

}

.delim {
    border-bottom: 1px dotted #d8d8d8;
}

.order_question {
    width: 16px;
    height: 16px;
    background: url(/local/templates/lampart_new/images/order_question.png) left top no-repeat;
    position: relative;
    float: left;


}

.order_question .order_question_text {
    position: absolute;
    width: 500px;
    top: 20px;
    left: -250px;
    padding: 10px;
    background: #fff;
    display: none;
    z-index: 9999;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    behavior: url(css/PIE.htc);
    font-size: 12px;
    white-space: normal
}

.order_question:hover .order_question_text {
    display: block;
}

.pay_delivery .bx_element {
    padding-bottom: 10px;
    float: left;
    width: 310px;
}

/*.order_prop_value .checkbox, .order_prop_value  .radio{width:16px;height:25px;padding:0 5px 0 0;background:url(/local/templates/lampart_new/images/checkbox.png) no-repeat;display:block;clear:left;float:left}
.order_prop_value .radio{background:url(/local/templates/lampart_new/images/radio.png) no-repeat}*/
.order_prop_value label {
    /* line-height:24px; */
    font-weight: 700;
    font-size: 14px;
    color: #37363a;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

.price_formatted {
    display: block;
    font-weight: bold;
    min-width: 70px;
}

.delivery_desc {
    font-size: 10px;
}

.order_submit_button {
    width: 210px;
    float: right;
    text-transform: uppercase;
    margin: 25px 0px 15px 580px;
}


/*	CSS for customized radio buttons and check boxes */

.order_title {
    font-family: Exljbris700;
    font-size: 18px;
    color: #37363a;
    margin-bottom: 13px;
}

.order_number {
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.order_info {
    padding-left: 100px;
    padding-top: 20px;
    background: url('/local/templates/lampart_new/images/order_info_icon.png') 0px 20px no-repeat;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 30px;
}

.order_info .order_info_text p {
    margin-bottom: 17px;
}

.user_info, .pay_system {
    margin-bottom: 30px;
}

.user_info .order_title {
    margin-bottom: 0px;
}

.user_info .user_info_table {
    width: 650px;
}

.user_info .user_info_table td {
    padding-top: 13px;
}

.user_info .user_info_table .order_delim {
    border-bottom: 1px dotted #d8d8d8;
}

.order_section_right {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 265px;
    float: left;
}

.bx_order_make .oneclick_order_cnt {
    float: right;
    width: 207px;
    height: 39px;
    background: #ffa340;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    behavior: url(css/PIE.htc);
    margin-bottom: 10px;
}

.bx_order_make .oneclick_order_cnt .popup-btn-form {

    display: block;
    width: 100%;
    line-height: 39px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.confirm_notice {

    line-height: 20px;
    margin-bottom: 5px;
}

.confirm_notice a {
    color: #3399ff;
}


.custom_radio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    color: #342c29;
    font: 400 12px/18px 'TrebuchetMS';
}

.custom_radio input {
    /*position: absolute;*/
    /*left: -9999px;*/
}

.custom_radio i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100%;
    border: 1px solid #c1bfbf;
    display: none;
}

.custom_radio.active i {
    width: 6px;
    height: 6px;
    border-width: 5px;
    border-color: #009aff;
}


.delivery-detail .row input.error {
    border: 1px #ff0000 solid;
}

.comm-summ {
    font-size: 16pt;
    margin: 20px 0;
}

.page_cart__left {
    float: left;
    width: 60%;
}

.page_cart__body {
    width: 100%;
    float: left;
}

.page_cart__products {
    width: 100%;
    float: left;
}

.page_cart__products__row {
    width: 100%;
    float: left;
    display: table;
    border-top: 1px solid #d1d1d1;
}

.page_cart__products__cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 20px 0;
}

.cart__products__cell-image {
    width: 130px;
}

.cart__products__cell-content {
    padding-bottom: 40px;
    padding-right: 20px;
}

.cart__products__cell-price {
    width: 110px;
}

.cart__products__cell-amount {
    width: 110px;
}

.cart__products__cell-totalprice {
    width: 110px;
}

.cart__products__cell-delete {
    width: 30px;
    text-align: right;
}

.page_cart__product__image {
    width: 110px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    position: relative;
}

.page_cart__product__image img {
    display: block;
    width: 110px;
}

.page_cart__product__stock {
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}

.page_cart__product__stock__num {
    color: #4ab941;
    font-size: 14px;
    font-weight: bold;
}

.page_cart__product__stock__list {
    margin-left: 10px;
}

.page_cart__product__stock__item {
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 18px;
    margin-right: 2px;
    background: #4ab941;
}

.page_cart__product__title {
    font-size: 14px;
    font-weight: 700;
    color: #37363a;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.page_cart__product__title:active,
.page_cart__product__title:hover {
    color: #3399ff;
    text-decoration: none;
}

.page_cart__product__more_link {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 14px;
    color: #3399ff;
    text-decoration: none;
    display: block;
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.page_cart__product__more_link.active {
    bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #ffffff;
    color: #3399ff;
    padding-bottom: 10px;
}

.page_cart__product__totalprice,
.page_cart__product__price {
    font-weight: 700;
    font-size: 12px;
}

.page_cart__product__totalprice span,
.page_cart__product__price span {
    font-size: 18px;
}

.page_cart__product__amount {
    display: inline-block;
    vertical-align: middle;
}

.page_cart__product__amount input {
    width: 42px;
    height: 42px;
    background: #ffffff;
    border: 1px solid #dedace;
    border-radius: 4px;
    text-align: center;
    line-height: 42px;
    float: left;
    display: block;
    font-size: 18px;
    color: #615f68;
}

.page_cart__product__amount .custom_number__btns {
    float: left;
    width: 18px;
}

.page_cart__product__amount .custom_number__btn {
    display: block;
    height: 21px;
    border-radius: 4px;
    background: #009aff;
    width: 18px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.page_cart__product__amount .custom_number__btn-plus {
    margin-bottom: 1px;
    background-image: url('/local/templates/lampart_new/img/icon-arrow_up.png');
}

.page_cart__product__amount .custom_number__btn-minus {
    background-image: url('/local/templates/lampart_new/img/icon-arrow_down.png');
}

.page_cart__products__btn-delete {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('/local/templates/lampart_new/img/icon-close.png');
}

.page_cart__products__btn-delete:hover {
    background: url('/local/templates/lampart_new/images/basket_x_red.png') 1px 1px no-repeat;

}

.page_cart__products__more {
    width: 100%;
    float: left;
    background: #ffffff;
    border-radius: 4px;
    padding: 20px 0;
    margin-bottom: 20px;
    display: none;
}

.page_cart__products__more.active {
}

.page_cart__product_more {
    border-radius: 4px;
    border: 2px solid #e9e9e9;
    display: inline-block;
    width: 170px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page_cart__product_more:nth-child(4) {
}

.page_cart__product_more__link {
    text-decoration: none;
    color: #3399ff;
}

.page_cart__product_more__link:active,
.page_cart__product_more__link:hover {
    text-decoration: underline;
}

.page_cart__product_more__image {
    width: 100%;
    height: 130px;
}

.page_cart__product_more__title {
    padding: 0 10px;
    display: block;
    margin: 10px 0;
    font-size: 13px;
    line-height: 16px;
    color: #3399ff;
    text-decoration: none;
    font-weight: 700;
}

.page_cart__product_more__total {
    text-align: center;
    font-size: 12px;
}

.page_cart__product_more__price {

    color: #37363a;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}

.page_cart__product_more__price span {
    font-size: 18px;
}

.page_cart__product_more__btn-addtocart {
    display: block;
    margin: auto;
    font-size: 10px;
    text-transform: uppercase;
    height: 28px;
    padding: 0;
    line-height: 28px;
    width: 120px;
}

.page_cart__total {
    border-top: 1px solid #d1d1d1;
    padding-top: 20px;
    width: 100%;
    float: left;
}

.page_cart__total_block {
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    float: left;
    color: #615f68;
}

.page_cart__total__price {
    font-size: 18px;
    color: #37363a;
}

.page_cart__total__price span {
    font-size: 24px;
}


.page_cart__right {
    /*float: right;*/
    /*width:350px;*/
}

.page_cart__order .tabs__menu {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: block;
}

.page_cart__order .tabs__menu__item {
    padding: 0 !important;
    margin: 0 !important;
    background: none;
    border: none;
    width: 50%;
    display: block;
    float: left;
}

.page_cart__order .tabs__menu__item a {
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #d1d1d1;
    text-decoration: none;
    height: 60px;
    width: 100%;
    display: block;
    color: #615f68;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    background: #f5f5f5;
    border-top-right-radius: 4px;
}

.page_cart__order .tabs__menu__item:first-child a {
    border-right: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
}

.page_cart__order .tabs__menu__item.ui-state-active a {
    background: #ffffff;
}

.page_cart__order__form {
    /*float: left;*/
    /*width: 100%;*/
}

.page_cart__order .tabs__content {
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-top: none;
    /*width: 310px;*/
    /*float: left;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page_cart__order__item {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.page_cart__order__item__title {
    font-weight: 700;
    font-size: 14px;
    color: #37363a;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

.page_cart__order__item__value {
    width: 100%;
    float: left;
}

.page_cart__order__item__value .inputbox {
    height: 40px;
    line-height: 40px;
    border: 1px solid #bcbbbb;
    width: 300px;
    padding: 0 10px;
    border-radius: 4px;
}

.page_cart__order__item__value .inputbox.error_prop {
    border: 1px solid #F00;
}

.page_cart__order__item__value .selectbox {
    height: 40px;
    border: 1px solid #bcbbbb;
    width: 322px;
    padding: 0 10px;
    border-radius: 4px;
    color: #999999;
}

.page_cart__order__item__value .selectbox option {
    font-size: 14px;
    color: #000000;
}

.page_cart__order__menu {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.page_cart__order__menu__item {
    width: 100%;
    float: left;
    margin: 4px 0;
    overflow: visible;
    position: relative;
}

.page_cart__order__menu__item__title {
    vertical-align: middle;
    font-size: 14px;
    color: #615f68;
    font-weight: 700;
}

.page_cart__order__menu__item__tooltip {
    position: absolute;
    right: 0;
    top: 0;
}

.page_cart__order__menu__item__tooltip span {
    color: #c0bebe;
    display: inline-block;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    font-size: 11px;
    border: 1px solid #c1bfbf;
}

.page_cart__order__menu__item__tooltip div {
    display: none;
    position: absolute;

    right: 30px;
    width: 400px;
    height: auto;
    top: 0;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    color: #615f68;
    font-size: 12px;
    line-height: 16px;
    z-index: 100;
    border: 1px solid #bcbbbb;
}

.page_cart__order__menu__item__tooltip:hover span,
.page_cart__order__menu__item__tooltip:active span {
    border-color: #bcbbbb;
}

.page_cart__order__menu__item__tooltip:hover div,
.page_cart__order__menu__item__tooltip:active div {
    display: block;
}

.page_cart__order__block {
    /*display: none;*/
    width: 100%;
    float: left;
}

.page_cart__order__map {
    width: 100%;
    height: 210px;
    overflow: hidden;
    float: left;
}

.page_cart__order__btn_container {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0 0 0;
}

.page_cart__order_btn {
    display: block;
    margin: 0 auto;
    width: 210px;
    text-transform: uppercase;
    font-size: 14px;
}

a.page_cart__order_btn-back {
    color: #3399ff;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
}

a.page_cart__order_btn-back:active,
a.page_cart__order_btn-back:hover {
    text-decoration: underline;
}

#basket_quantity input[type=text] {
    border: 1px solid #d2d2d2;
    color: #707070;
    font-size: 14px;
    box-sizing: border-box;
    width: 70px;
    height: 40px;
    text-align: center;
}

.basket_quantity_control {
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
}

.basket_quantity_control a {
    display: block;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    width: 35px;
    color: #707070 !important;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition-property: background-color;
    transition: 0.3s;
}

.basket_quantity_control a:hover {
    background: #d2d2d2;
}

.basket_quantity_control a:focus {
    outline: none;
}

.basket_quantity_control a.plus {
    border-left: none;
    border-radius: 0px 3px 3px 0px;
}

.basket_quantity_control a.minus {
    border-right: none;
    border-radius: 3px 0px 0px 3px;
}


.page_cart__order__item__value .error {
    border: 1px #ff0000 solid !important;
}

.spisok_okdel2 .row {
    display: block;
    margin-right: 0;
    margin-left: 0;
}

.page_cart__order__item__value,
.page_cart__order__item {
    float: none;
    margin-bottom: 5px;
}

.form-gray .selectbox,
.form-gray .form-query {
    width: 100%;
    height: 56px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #f2f2f2;
}



